@import '../../styles.scss';

header {
    @include dFlex($jc: space-between);
    padding: 37px 100px;
    font-size: 23px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    z-index: 999;
    >img {
        height: 50px;
    }
    >nav {
        @include dFlex($gap: 50px);
        >a {
            transition: 0.35s color;
            &:hover {
                color: $orange;
                border-bottom: 2px $red;
            }
        }
    }
}

.mobile-menu {
    display: none
}

@import '../../responsive.scss';