@import '../../styles.scss';
header {
    position: fixed;
    height: 124px;
    right: 0;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: $background;
}

header div {
    @include dFlex($jc: space-between);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0 auto;
    max-width: 1650px;
    padding: 37px 20px;
    font-size: 23px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    z-index: 999;
    background-color: $background;
    box-sizing: border-box;

    >img {
        height: 50px;
    }
    >nav {
        @include dFlex($gap: 50px);
        >a {
            transition: 0.35s color;
            &:hover {
                color: $orange;
                border-bottom: 2px $red;
            }
        }
    }
}

.mobile-menu {
    display: none
}

@import '../../responsive.scss';