@import '../../styles.scss';

header {
    padding: 37px 100px;
    font-size: 23px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: green;
    >img {
        height: 46px;
    }
    >nav {
        display: flex;
        gap: 30px;
        >a {
            &:hover {
                transition: 0.35s color;
                color: $orange;
                border-bottom: 2px $red;
            }
        }
    }
}