<section class="hero">
    <div class="person">
        <img src="./assets/img/person-shape.svg">
        <img src="./assets/img/grischa-foto.webp" alt="Foto von mir">
    </div>

    <div class="name">
        <div class="name-text">
            <span class="side-text">Ich bin</span>
            <div class="name-title">
                <h1>Grischa Tänzer</h1>
                <h2>Frontend Entwickler</h2>
            </div>
        </div>
        <button>Lass uns reden!</button>
    </div>

    <img class="hero-shape" src="./assets/img/hero-shape.svg" alt="">

    <div class="info">
        <div class="social">
            <div class="social-border"></div>
            <div class="icon-list">
                <img src="./assets/img/github-icon.svg" alt="">
                <img src="./assets/img/email-icon.svg" alt="">
                <img src="./assets/img/linkedin-icon.svg" alt="">
            </div>
            <span>grischa.taenzer&#64;gmail.com</span>
        </div>
        <img class="scroll-down" src="./assets/img/scroll-down.svg" alt="">
    </div>
</section>