<section class="section-styles">

    <div class="contact-title">
        <div class="title-and-border">
            <div class="border-left"></div>
            <h2>Kontakt</h2>
        </div>
        <div>
            <h3>Haben Sie ein Problem zu lösen?</h3>
            <span>Kontaktieren Sie mich über dieses Formular. Ich freue mich darauf, von Ihnen zu hören, Ihre Ideen zu kennen und mit meiner Arbeit zu Ihren Projekten beizutragen.</span>
            <span>Brauchen Sie einen Frontend-Entwickler? Kontaktieren Sie mich!</span>
        </div>
    </div>

    <form class="contact-form" action="">
        <input type="text" name="" placeholder="Ihr Name" id="">
        <input type="email" name="" placeholder="Ihre E-Mail" id="">
        <textarea name="" placeholder="Ihre Nachricht" id="" cols="30" rows="9"></textarea>
    </form>

</section>