@import '../../styles.scss';

.contact-title {
    width: 30%;
    height: 600px;
    @include dFlex($jc: flex-start, $ai: flex-start, $fd: column, $gap: 40px);
    >.contact-title-and-border {
        @include dFlex($jc: flex-start, $fd: row);
    }
    >.description {
        @include dFlex($ai: flex-start, $jc: flex-start, $fd: column, $gap: 20px);
        >h3 {
            color: white;
        }
    }
}

.contact-border-left {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100px;
    background-color: $red;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.contact-form {
    margin-top: 100px;
    width: 70%;
    max-width: 700px;
    @include dFlex($fd: column, $gap: 20px);
    >input {
        width: 100%;
        height: 60px;
        padding: 10px;
        border-radius: 10px;
        border-color: $red;
        background-color: unset;
        color: white;
        box-sizing: border-box;

        &:hover {
            border-color: $orange;
        }
    }
    >textarea {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border-color: $red;
        background-color: unset;
        color: white;
        box-sizing: border-box;

        &:hover {
            border-color: $orange;
        }
    }
    >.checkbox-container {
        @include dFlex($ai: flex-start, $fd: row, $gap: 20px);
        >.checkbox {
            cursor: pointer;
            padding: 5px;
            >img {
                height: 25px;
            }
        }
    }
    >.checkbox-msg {
        text-align: left;
        color: $red;
    }
}

@import '../../responsive.scss';