@import '../../styles.scss';

.contact-title {
    width: 30%;
    height: 600px;
    @include dFlex($jc: flex-start, $ai: flex-start, $fd: column, $gap: 40px);
    >.contact-title-and-border {
        @include dFlex($jc: flex-start, $fd: row);
    }
    >.description {
        @include dFlex($ai: flex-start, $jc: flex-start, $fd: column, $gap: 20px);
        >h3 {
            color: white;
        }
    }
}

.contact-border-left {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100px;
    background-color: $red;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.contact-form {
    margin-top: 100px;
    width: 70%;
    max-width: 600px;
    @include dFlex($fd: column, $gap: 20px);
    >input {
        width: 100%;
        height: 40px;
        padding: 10px;
        border-radius: 10px;
        border-color: $red;
        background-color: unset;
        color: white;

        &:hover {
            border-color: $orange;
        }
    }
    >textarea {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border-color: $red;
        background-color: unset;
        color: white;

        &:hover {
            border-color: $orange;
        }
    }
    >.checkbox-container {
        @include dFlex($ai: flex-start, $fd: row, $gap: 20px);
        >input[type="checkbox"] {
            cursor: pointer;
            height: 30px;
            width: 30px;
            color: orange;
        }
        >input[type="checkbox"]:checked {
            cursor: pointer;
            height: 30px;
            width: 30px;
            color: orange;
        }
    }
}