@import './fonts.scss';

// Main colors
$fonts: #fff;
$background: #141D2F;
$red: #ff4647;
$orange: #fa7902;

* {
  font-family: 'Poppins', "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  color: $fonts;
  background-color: $background;
}

h1, h2 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 90px;
  font-weight: bold;
  line-height: 108px;
  margin: 0;
}
h3 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: $red;
  margin: 0;
}

h4 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 23px;
  color: $orange;
  margin: 0;
}

a {
  text-decoration: none;
  color: $fonts;
}

@mixin dFlex($jc: center, $ai: center, $fd: row, $gap: 0) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
}

.section-styles {
  width: 100%;
  padding: 0 140px;
  margin: 0 auto 300px auto;
  position: relative;
  box-sizing: border-box;
  @include dFlex($jc: space-between);
}

.primary-btn {
  width: auto;
  padding: 15px 30px;
  background-color: $orange;
  color: $fonts;
  font-size: 23px;
  line-height: 27.6px;
  border-radius: 10px;
  border: none;
  box-shadow: 4px 4px 4px 0px #00000040;
  transition: 0.35s padding ease-in-out;

  &:hover {
      cursor: pointer;
      padding: 15px 50px;
      background-color: $red;

  }
}

.secondary-btn {
  width: auto;
  padding: 15px 30px;
  color: $fonts;
  font-size: 23px;
  line-height: 27.6px;
  border-radius: 10px;
  border: none;
  outline: 1px solid $orange;
  background-color: rgba(255, 255, 255, 0);

  transition: 0.35s padding ease-in-out;

  &:hover {
      cursor: pointer;
      padding: 15px 50px;
      border: none;
      background-color: $orange;

  }
}